*,
*::after,
*::before {
    // Reset
    box-sizing: inherit;    
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;  // This defines what 1rem is
}

body {
    box-sizing: border-box; // Eliminate padding/margin being added to specified height/width of box 
}